<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035125960819-tbdioc7pv4ahn7ornv1di78jfhn1s1ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035125960819-tbdioc7pv4ahn7ornv1di78jfhn1s1ao</string>
	<key>API_KEY</key>
	<string>AIzaSyAhu4ifpxAKYUPKL_Hqn_d0zt1EMVLtSDg</string>
	<key>GCM_SENDER_ID</key>
	<string>1035125960819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RN-Gifted-Chat</string>
	<key>PROJECT_ID</key>
	<string>rngiftedchat-96d40</string>
	<key>STORAGE_BUCKET</key>
	<string>rngiftedchat-96d40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035125960819:ios:b79e24b92a7cef2c94fa06</string>
</dict>
</plist>